*{
box-sizing: border-box;
margin:0;
padding:0;
}
.wrapper{
    margin-top: 120px;
}
.no-wrap{
    margin-top: -30px;
}
.active{
    display: block;
}
.d-none {
    display: none;
}
.btn-azzurro {
    background-color: #53AE96;

}

