.create-house {
.form-create {
    display: flex;
    justify-content: space-around;
    .form-group{
        label {
            color:#00A6AB;
            font-weight: bold;
        }
        h6 {
            color:#00A6AB;
        }
    }
  
    .crea {
        background-color: #ff5070 ;
        border: none;
    }
  }
}
.host-nav-col {
    margin-top: 20px;
    height: 100vh;

    .host-nav {
       justify-content: start;
    
        li {
            list-style:none;
            font-size: 15px;
        }
    
        a {
            text-decoration: none;
            color: $grey-airbnb;
            font-size: 15px;
        }
    
        i {
            font-size: 20px;
            padding-right: 20px;
        }
    }
    #delete-button {
        background-color: transparent;
        border: none;
    }
    
    #open-sponsor-menu {
        cursor: pointer;
    }
    
    #host-sponsorship {
        
        form {
            margin-left: 10px;
            
            select {
                font-size: 13px;
                padding: 3px;
    
                option {
                    padding: 3px;
                }
            }
        
            input[type="submit"] {
                font-size: 13px;
                width: 50%;
                margin: auto;
                margin-top: 5px;
                background-color: lightgrey;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .create-house {
        .form-create {
            display: block;
        }
    }
}