h4 {
    text-align:center;
}

.btn-scopri{
    background-color: $pink-airbnb;
    border-radius: 5px;
    padding: 6px 12px;

    a {
        font-size: 14px;
        color: #fff;
        text-decoration: none;
    }
}